<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>О строительном магазине 'Строй.IT'</h1>
        <p>Благодарим за ваш интерес! Добро пожаловать в наш магазин. Мы предоставляем своим клиентам широкий ассортимент качественных инструментов.</p>
        <p>Наша цель – помочь вам реализовать ваши строительные проекты быстро и качественно. Мы предлагаем товары от лучших производителей по конкурентоспособным ценам.</p>
        <p>В нашем магазине вы найдете:</p>
        <ul>
            <li>Строительные материалы, мебель для вашего интерьера;</li>
            <li>Инструменты, дрели, отвертки, молотки и прочее;</li>
            <li>Консультации от наших экспертов по выбору подходящих товаров.</li>
        </ul>
        <p>Спасибо, что выбираете нас!</p>
        <a href="{{ url_for('home') }}">Назад на главную страницу</a>
    </div>
</body>
</html>
