<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>{{ product.name }}</h1>
    <div>
        <img src="{{ url_for('static', filename='images/' ~ product.image) }}" alt="{{ product.name }}" style="width: 100%; height: auto;">
    </div>
    <p>{{ product.description }}</p>
    <p>Цена: {{ product.price }} руб.</p>
    <a href="{{ url_for('products') }}">Назад к продуктам</a>
</body>
</html>
